<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OAuth 2.0 Test</title>
</head>
<body>
    {{^user}}
        <a href="https://github.com/login/oauth/authorize?client_id=dc22c009d469094cbe0e">Github login</a>
    {{/user}}
    {{#user}}
        <a href="/personal">개인 정보</a>
        <form method="post" action="/logout">
            <input type="submit" value="logout">
        </form>
    {{/user}}
</body>
</html>
